<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<hr/>

<h3>Products (<a href="{{ url_for('create_product') }}">Add Product</a>)</h3>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Comment</th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
        <tr>
            <td><a href="{{ url_for('detail_product', product_id=product.id) }}">{{ product.id }}</a></td>
            <td>{{ product.price }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
